@{
    ViewData["Title"] = "Home Page";
}

<div >
    <h1 class="display-4">Welcome</h1>
    <h2>Trading Rules</h2>
    <ol>
    <li>Manage RR & Q</li>
    <li>Control your Greed and Fear</li>
    <li>SL OR Target</li>
    <li>Two SL OR Two Target in a Day </li>
    <li>On Expiry Avoid Selling / Buy in Second Helf once premium stable</li>
    <li>Think Nagative(about Buying Loss)</li>
    <li>Follow Up Buying is Most Important</li>
    <li>
        Wait for the Day 
        <ol>
            <li>Month Start or End </li>
            <li>3 Day Range Break</li>
            <li>Expiry</li>
        </ol>
    </li>
    </ol>

    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
